openapi: 3.0.1
info:
  title: MLB Schedule API
  description: Returns MLB games scheduled on a specific date using statsapi.mlb.com.
  version: "1.0.0"
servers:
  - url: https://statsapi.mlb.com

paths:
  /api/v1/schedule:
    get:
      summary: Get MLB games for a specific date
      operationId: getGames
      parameters:
        - name: sportId
          in: query
          required: true
          description: Sport ID (1 for MLB)
          schema:
            type: integer
            example: 1
        - name: date
          in: query
          required: true
          description: Date of the games in YYYY-MM-DD format
          schema:
            type: string
            format: date
            example: "2025-07-04"
      responses:
        '200':
          description: Successful response with list of games
          content:
            application/json:
              schema:
                type: object
                properties:
                  dates:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        games:
                          type: array
                          items:
                            type: object
                            properties:
                              gamePk:
                                type: integer
                              gameDate:
                                type: string
                              venue:
                                type: object
                                properties:
                                  name:
                                    type: string
                              teams:
                                type: object
                                properties:
                                  home:
                                    type: object
                                    properties:
                                      team:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                  away:
                                    type: object
                                    properties:
                                      team:
                                        type: object
                                        properties:
                                          name:
                                            type: string
